:root {
  --header-padding: 1rem 0;
  --content-padding: 0.2rem 0rem 1rem 0rem;
  --border-color: #e4e4e7;
  --title: 1rem;
  --content: 0.95rem;
  --icon-size: 1.5rem;
  --primary-color: #c8dc71;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#timeline {
  background-color: #1b1b1e;
  padding: 50px 0px;
}
.upper-heading {
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 24.2px;
  text-align: center;
  color: #f56e0f;
}
.lower-heading h2 {
  font-family: Inter;
  font-size: 38px;
  font-weight: 700;
  line-height: 50.09px;
  text-align: center;
  color: #fbfbfb;
}
.timeline-container {
  padding: 20px;
}
.timeline-container p {
  font-family: Inter;
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 300;
  line-height: 24.2px;
  text-align: center;
  padding: 20px 5px;
}
.time-bod {
  padding-top: 20px;
}
.time-bod img {
  position: relative;
  width: 100%;
  z-index: 1;
}
.detail {
  position: relative;
  width: 180px;
  height: 40px;
  padding-top: 2px;
  border-radius: 7px 7px 0px 0px;
  background: #151419;
  align-items: center;
  border-bottom: 4px solid #f56e0f;
  z-index: 3;
}
.det {
  color: #fbfbfb;
  font-family: Inter;
  font-size: 22px;
  font-weight: 700;
  line-height: 29.05px;
  text-align: center;
}
#item1 {
  top: 550px;
  left: 20px;
}
#item2 {
  top: 463px;
  left: 561px;
}
#item3 {
  top: 768px;
  left: 606px;
}
#item4 {
  top: 672px;
  left: 1153px;
}
#item5 {
  top: 918px;
  left: 1210px;
}

@media only screen and (min-width: 900px) {
  .upper-heading {
    font-size: 20px;
  }
  .lower-heading h2 {
    font-size: 48px;
    line-height: 58.09px;
  }
  .timeline-container {
    width: 60%;
    position: relative;
    left: 40%;
  }
}
