.navbar{
    background-color: #FBFBFB; 
     height: 80px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding-left: 120px;
 }
 
 .logo{
     width: 20%;
     height: 80px;
 }
 
 .hack-logo{
     width: 200px;
     height: 80px;
     cursor: pointer;
 }
 
 .nav-components{
     width: 60%;
 }
 
 ul{
     flex: 1;
     list-style: none;
     text-align: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    width: 100%;
 }
 
 ul li{
     display: inline;
     margin: 0 20px;
     cursor: pointer;
     font-size: 20px;
     font-weight: 400;
     font-family: Inter;
     line-height: 24.2px;
 }
 
 .register-btn{
     width: 20%;
     height: 80px;
     color: #F56E0F;
     padding-top: 20px;
 }
 
 .btn{
     border: 3px;
     width: 160px;
     height: 40px;
     border-color: #878787;
     font-weight: 500;
     border-style: solid;
     font-size: 20px;
     align-items: center;
     font-family: Inter;
     line-height: 24.2px;
 }

 .menu-icon {
    display: none;
    font-size: 28px;
    cursor: pointer;
  }
  
  /* Media queries for responsive design */
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      height: auto;
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .logo {
      width: 100%;
      text-align: center;
      height: auto;
    }
  
    .hack-logo {
      width: 150px;
      height: auto;
    }
  
    .nav-components {
      width: 100%;
      text-align: center;
      display: none;
      flex-direction: column;
    }
  
    .nav-components.open {
      display: flex;
      flex-wrap: nowrap;
    }
  
    ul {
      padding: 0;
    }
  
    ul li {
      display: block;
      margin: 10px 0;
    }
  
    .register-btn {
      width: 100%;
      text-align: center;
      height: auto;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  
    .btn {
      width: 100%;
    }
  
    .menu-icon {
      display: block;
    }
  }
  
  @media (max-width: 480px) {
    .navbar {
      flex-direction: column;
      height: auto;
    }
  
    .logo {
      width: 100%;
      height: auto;
    }
  
    .hack-logo {
      width: 120px;
      height: auto;
    }
  
    .nav-components {
      width: 100%;
      text-align: center;
    }
  
    ul li {
      font-size: 18px;
      margin: 8px 0;
    }
  
    .register-btn {
      width: 100%;
      text-align: center;
      padding-top: 5px;
      padding-bottom: 5px;
      display: none;
    }

    .register-btn.open {
        display: block;
      }
  
    .btn {
      width: 80%;
    }
  }