@media (max-width: 768px) {
    .change{
        height: 160dvh;
        margin-bottom: 110dvh;
    }
}


@media (max-width: 510px) {
    .change{
        height: 200dvh;
    }
}


@media (max-width: 460px) {
    .change{
        height: 190dvh;
    }
}

@media (max-width: 386px) {
    .change{
        height: 170dvh;
    }
}