@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  --dark-void: #151419;
  --liquid-lava: #F56E0F;
  --gluon-grey: #1B1B1E;
  --slate-grey: #262626;
  --dusty-grey: #878787;
  --snow: #FBFBFB;

  padding: 0;
  margin: 0;
}


body{
  overflow-x: hidden;
}

.text-lava{
  color: var(--liquid-lava);
}

.text-snow{
  color: var(--snow)
}

.text-dusty-grey{
  color: var(--dusty-grey);
}

.bg-hero{
  background: url("/images/hex2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-hero::after{
  content: "";
  position: absolute;
  background: var(--dark-void);
  opacity: 0.9;
  top: 0;
  left: 0;
  width: 100%;
  height: 108%;
  z-index: 1;
}

.bg-hero::before{
  content: "";
  position: absolute;
  background: var(--liquid-lava);
  opacity: 0.01;
  top: 0;
  left: 0;
  width: 100%;
  height: 108%;
  z-index: 2;
}

.bg-about{
  background: url('/images/About.png');
  position: relative;
}

.bg-about::after{
  content: "";
  position: absolute;
  background: var(--gluon-grey);
  opacity: 0.7;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}


.bg-snow{
  background: var(--snow);
}

.bg-lava{
  background: var(--liquid-lava);
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

.bg-lava:hover{
  background: var(--dark-void);
}

.bg-void{
  background: var(--dark-void);
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;


}

.bg-void:hover{
  background: var(--liquid-lava);
}

.bg-black-m{
  background: #000;
}

.bg-void-m{
  background: var(--dark-void);
}

.bg-lava-btn{
  background: var(--liquid-lava);
}

.bg-gluon{
  background: var(--gluon-grey);
}

.stroke{
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: var(--liquid-lava);
}

.border-lava{
  border: 2px solid var(--liquid-lava);
}

.outlines{
  outline: 2px solid var(--snow);
}

.none{
  display: block;
}

.appear{
  display: none;
}

@media (max-width: 768px) {
  .none{
    display: none;
  }

  .appear{
    display: block;
  }

  .rectangle-text{
    font-size: 1rem;
  }
}