@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  --dark-void: #151419;
  --liquid-lava: #F56E0F;
  --gluon-grey: #1B1B1E;
  --slate-grey: #262626;
  --dusty-grey: #878787;
  --snow: #FBFBFB;

}


.text-lava{
  color: var(--liquid-lava);
}

.text-snow{
  color: var(--snow)
}

.text-dusty-grey{
  color: var(--dusty-grey);
}

.bg-about{
  background: url('/images/About.png');
  position: relative;
}

.bg-about::after{
  content: "";
  position: absolute;
  background: var(--gluon-grey);
  opacity: 0.7;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
